/* .wrapper {
  color: white;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hello {
  align-self: flex-start;
  border: 5px solid purple;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
}

.ex {
  min-width: 600px;
  overflow: auto;
  width: 100vw;
  border: 3px solid white;
  display: flex;
  justify-content: center;
} */
