/* .location-search-input {
  background-color: red;
}

.autocomplete-dropdown-container {
  position: absolute;
  margin-left: -58px;
  margin-top: 12px;
  width: 300px;
  padding-top: 7px;
}

.suggestion-item {
  padding: 4px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
}

.suggestion-item--active {
  padding: 3px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  background-color: red;
}

.matching-substring {
  font-weight: normal;
} */
