.navbar {
  display: flex;
  align-self: flex-start;
  min-height: 112px;
  background-color: lightgray;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  overflow: auto;
  width: 100vw;
}

.attached-to-left {
  display: flex;
  align-items: center;
}

.logo-horizontal > img {
  height: 85px;
}
