.navbar {
  min-height: 112px;
  position: relative;
  /* border: 5px solid purple; */
  align-self: flex-start;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.navbar-content {
  min-width: 900px;
  overflow: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attached-to-left {
  display: flex;
  align-items: center;
}

.logo-horizontal > img {
  height: 85px;
}
