.program-maker {
  display: flex;
  align-self: flex-start;
}

.results-wrapper {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  overflow: auto;
  width: 100vw;
  /* border: 2px dotted gray; */
  max-height: 75vh;

}

.results-wrapper > div {
  padding: 5px;
  border: 1px dotted gray;
  width: 300px;
  margin: 5px;
  overflow: scroll;
}

.restaurants-list {
  box-sizing: border-box;
}

.events-list {
  box-sizing: border-box;
}

.my-map {
  box-sizing: border-box;
}
