/* * {
  border: 1px dotted green
} */

.results-wrapper {
  /* margin: 30%; */
  min-width: 100px;
  max-width: 1000px;
  max-height: 75vh;
  /* margin: 50px auto 0 auto; */
  display: flex;
  /* border: 5px solid purple; */
  justify-content: space-between;
}

.results-wrapper > div {
  overflow: scroll;
  flex-basis: 30%;
  border-radius: 10px;
}
.restaurants-list {
  /* background-color: gray; */
  box-sizing: border-box;
  /* flex-basis: 30%; */
  /* flex:1; */
  /* margin: 20px */
}

.events-list {
  /* border: 5px solid green; */
  /* background-color: gray; */
  box-sizing: border-box;
  /* border-radius: 10px; */
  /* flex-basis: 30%; */
  /* flex:1; */
  /* margin: 20px */
}

.my-map {
  /* border: 5px solid white; */s
  /* background-color: gray; */
  box-sizing: border-box;
  /* border-radius: 10px; */
  /* flex-basis: 30%; */
}
