.program-maker {

}

.results-wrapper {
  margin: 20%;
  display: flex;
  /* border: 1px dotted white */
}

.results-wrapper > .restaurant {
  margin: 30px;
}

.results-wrapper > .event {
  margin: 30px;
}

.restaurants-list {
  padding: 10px;
  margin-right: 30px;
  height: 700px;
  overflow: scroll;
  border: 1px dotted darkgray;
  border-radius: 10px;
  width: 33%
}

.events-list {
  padding: 10px;
  height: 700px;
  overflow: scroll;
  border: 1px dotted darkgray;
  border-radius: 10px;
  width: 33%
}

.my-map {
  /* border: 1px dotted white; */
  padding: 10px;
  border-radius: 10px;
  width: 50%
}
