.restaurant {
  box-sizing: border-box;
  border: 3px dotted black;
  color: black;
  background-color: white;
  margin-bottom: 30px;
  /* height: 600px; */
  width: 98%;
  display: flex column;
  align-items: center;
  justify-content: center;
}

.current-restaurant {
  box-sizing: border-box;
  color: black;
  background: repeating-linear-gradient(
    45deg,
    #E0E0E0,
    #C2C2C2 10px
  );
  border: 3px solid green;
  margin-bottom: 30px;
  /* height: 600px; */
  width: 98%;
  display: flex column;
  align-items: center;
  justify-content: center;
}

/* .selected {
  border: 2px solid red
} */

.unselected > .restaurant {
color: grey
}

.rest-name {
  text-align: center;
  margin: 5px;
  color: black;
  background-color: white;
}

.rest-data {
  margin: 0px;
  padding: 5px;
  line-height: 1.6;
}

.rest-img {
  display: block;
  width: 100%;
  height: auto;
}
