.restaurant {
  color: black;
  background-color: white;
  margin-bottom: 30px;
  /* height: 600px; */
  /* min-width: 300px; */
  border: 2px solid white;
  border-radius: 20px;
  display: flex column;
  align-items: center;
  justify-content: center;
}

.selected {

  border: 5px solid red

}

.unselected > .restaurant {
color: grey
}

.rest-name {
  text-align: center;
  margin: 5px;
  color: black;
  background-color: white;
}

.rest-data {
  margin: 0px;
  line-height: 1.6;
  margin: 0px;
}

.rest-img {
  display: block;
/* max-width:230px; */
/* max-height:250px; */
width: 100%;
height: auto;
  /* height: 250px; */
  /* width: 230px; */
}
