.search-form {
  font-size: 10px;
  margin-top: 50px;
  color: black;
  border-radius: 20px;
  border-style: double;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.search-form .main {
  padding: 1em;
  /* display: flex; */
  /* flex-direction: row; */
}


.search-form > div {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.col > div {
  font-size: 20px;
  padding: 1em;
  flex: 30%;
  white-space: nowrap;
}


#buttons {
    /* display: flex; */
    justify-content: center;
}

#search {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.7em;
  margin: 1em;
  border-style: outset;
  color: #464a4c;
}


input {
  font-size: 15px;
  border-radius: 5px;
  border: dotted #464a4c 0.5px;
}
