.search-form {
  display: flex row;
    font-size: 20px;
    /* margin: 15%; */
    padding: 20px;
    color: #464a4c;
    /* border: 1px solid black; */
    background-color: #f2f2f2
}

#food-and-event {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin: 1em
}

#food-and-event > div {
  padding: 15px;
  font-size: 30px
}
#location {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 1em
}

#location > div {
  padding: 15px;
  font-size: 25px
}

#time {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin: 1em
}

#time > div {
  padding: 15px;
  font-size: 25px
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.7em;
  margin: 2em;
  border-style: outset;
  color: #464a4c;
}


input {
  font-size: 30px;
  border-radius: 5px;
  border: dotted #464a4c 0.5px;
}
