.search-form {
  display: flex;
  justify-content: flex-start;
}

.search-form-main {
  font-size: 20px;
  margin: 5px;
}

#search {
  border-radius: 5px;
  font-size: 15px;
  height: 30px;
  align-self: center;
}

.form-row {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  background: #fff;
  margin: 10px;
  height: 36px;
}

.pseudo-search-text {
  /* float: left; */
  /* vertical-align: baseline; */
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.pseudo-input-restaurant {
  width: 100%;
}

.pseudo-input-event {
  width: 100%;
}

.pseudo-input-location {
  display: flex;
  align-items: center;
  width: 100%;
}

.pseudo-input-date {
  display: flex;
  align-items: center;
  width: 100%;
}

.location-input {
  outline-width: 0;
  border: none;
  font-size: 15px;
  color: #333;
}
input {
  outline-width: 0;
  border: none;
  font-size: 15px;
  color: #333;
}
